#textdomain wesnoth-Girl_unDead

[scenario]
    id=00_Death
    name= _ "Death"
    next_scenario=01_Escape
    victory_when_enemies_defeated=no
    map_file=00_Death.map
    turns=unlimited
    {MORNING}
    {MORNING}
    {MORNING}
    {MORNING}
    {MORNING}
    {MORNING}

    {INTRO_AND_SCENARIO_MUSIC transience.ogg elvish-theme.ogg}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}

    {GET_AWAY (Peasant)  (Malica) ( _ "Why did you come closer? Hey, go away!")}
    {GET_AWAY (Woodsman) (Malica) ( _ "You stranger's kid, don't bother me!")}
    {GET_AWAY (Huntsman) (Malica) ( _ "Hey, you are dangerous! Get the hell lost!")}

    {RUN_AWAY (Peasant Child) (Malica) ( _ "I would never play with you because my Mom says you're not a human being like us. Come on, guys, let's quickly go!")}

    {PLACE_IMAGE (scenery/rock-cairn.png) 36 7}

    [side]
        side=1
        controller=human
        team_name=human
        user_team_name= _ "Malica"
        type=Malica
        id=Malica
        name= _ "Malica"
        canrecruit=yes
        gold=0
        village_gold=0
        {NO_INCOME}
        {FLAG_VARIANT long}
    [/side]

    [side]
        side=2
        no_leader=yes
        hidden=yes
        team_name=human
        user_team_name= _ "Mom"
        [unit]
            type=Free Mage
            x,y=4,9
            id=Mother
            name= _ "Mom"
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_DEXTROUS}
            [/modifications]
        [/unit]
        {FLAG_VARIANT long}
    [/side]

    [side]
        side=3
        no_leader=yes
        hidden=yes
        user_team_name= _ "Beasts"
        [ai]
            aggression=1.0
            caution=-2.0
            grouping=no
            village_value=0
            [goal]
                name=target
                [criteria]
                    id=Malica
                [/criteria]
                value=100
            [/goal]
        [/ai]
        {FLAG_VARIANT6 ragged}
    [/side]

    [side]
        side=4
        no_leader=yes
        hidden=yes
        team_name=human
        user_team_name= _ "Villagers"
        {FLAG_VARIANT loyalist}
        {GENERIC_UNIT 4 (Peasant)  5 20} {GUARDIAN}
        {GENERIC_UNIT 4 (Woodsman)  4 4} {GUARDIAN}
        {GENERIC_UNIT 4 (Peasant) 15 19} {GUARDIAN}
        {GENERIC_UNIT 4 (Peasant) 25 27} {GUARDIAN}
        {GENERIC_UNIT 4 (Peasant) 21 21} {GUARDIAN}
        {GENERIC_UNIT 4 (Woodsman) 12 5} {GUARDIAN}
        {GENERIC_UNIT 4 (Huntsman) 13 9} {GUARDIAN}
        {GENERIC_UNIT 4 (Huntsman) 24 9} {GUARDIAN}

        {GENERIC_UNIT 4 (Peasant Child) 4 26} {GUARDIAN}
        [+unit]
            id=Child 1
        [/unit]

        {GENERIC_UNIT 4 (Peasant Child) 4 27} {GUARDIAN}
        [+unit]
            id=Child 2
        [/unit]

        {GENERIC_UNIT 4 (Peasant Child) 3 27} {GUARDIAN}
        [+unit]
            id=Child 3
        [/unit]

        {GENERIC_UNIT 4 (Peasant Child) 3 28} {GUARDIAN}
        [+unit]
            id=Child 4
        [/unit]
    [/side]

    [story]
        [part]
            story= _ "Among mages, there are those who choose the way of love of freedom, not belonging to a group. They either live quietly alone or spend their lives on the journey belonging nowhere."
            background=story/fire.webp
        [/part]
        [part]
            story= _ "They earn their livelihood solely by treating peoples' illnesses and injuries. But people do not respect them as they do the white mages. Rather, they are hated and despised like the necromancers. In any case, people ignore their existence, except when they need to ask for healing."
            background=story/fire.png
        [/part]
        [part]
            story= _ "So these mages do not live in one place for long; the inhabitants usually are unaware of what they are, as they have moved on before being discovered."
            background=story/fire.png
        [/part]
        [part]
            title= _ "<span font='24'>Death</span>
<span font='16'>S0</span>"
            story= _ "Such a life was difficult, but from such freedom, some of them acquired a magic far beyond that of the ordinary mages."
            background=story/fire.png
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            [objective]
                description= _ "Explore the village"
                condition=win
            [/objective]

            {HAS_NO_TURN_LIMIT}

            [gold_carryover]
                bonus=no
                carryover_percentage=0
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
        name=start
        [message]
            speaker=Malica
            message= _ "Mom, I am going out to play."
        [/message]
        [message]
            speaker=Mother
            message= _ "Have a nice time, but avoid the eastern swamps, as I sense a danger there."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Malica
            x=3,4,5,3,4,5
            y=9,8,9,10,10,10
        [/filter]
        [message]
            speaker=Mother
            message= _ "Oh, you're home already? You can play outside because the sun is still bright."
        [/message]
        [message]
            speaker=Malica
            message= _ "Okay, my Mom."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm curious about the swamps, maybe I shall go there... I have heard there is an old mysterious shrine there."
        [/message]
        [message]
            speaker=Malica
            message= _ "But my Mom would scold me if she catches me with it. What should I do?"
        [/message]
    [/event]

#define BEASTS
    [unit]
        side=3
        type=Giant Spider
        x,y=30,9
        ai_special=guardian
    [/unit]
    [unit]
        side=3
        type=Giant Mudcrawler
        x,y=39,10
    [/unit]
    [unit]
        side=3
        type=Giant Spider
        x,y=40,4
        ai_special=guardian
    [/unit]
    [unit]
        side=3
        type=Giant Spider
        x,y=34,10
        ai_special=guardian
    [/unit]
    [unit]
        side=3
        type=Giant Spider
        x,y=34,2
        ai_special=guardian
    [/unit]
    [unit]
        side=3
        type=Giant Spider
        x,y=25,8
        ai_special=guardian
    [/unit]
    [unit]
        side=3
        type=Giant Mudcrawler
        x,y=19,7
    [/unit]
    [unit]
        side=3
        type=Giant Mudcrawler
        x,y=30,2
    [/unit]
    [unit]
        side=3
        type=Mudcrawler
        x,y=28,4
    [/unit]
    [unit]
        side=3
        type=Mudcrawler
        x,y=32,10
    [/unit]
    [message]
        speaker=Malica
        message= _ "Oh no, venomous creatures! I should run!"
    [/message]
#enddef

    [event]
        name=moveto
        first_time_only=yes
        [filter]
            id=Malica
            x=36
            y=7
        [/filter]
        [if]
            [have_unit]
                side=3
            [/have_unit]
            [else]
                [message]
                    speaker=Malica
                    message= _ "I've reached the shrine, but there's not much here. I have to leave before getting darkness."
                [/message]
                {BEASTS}
            [/else]
        [/if]
    [/event]

    [event]
        name=turn 7
        [if]
            [have_unit]
                side=3
            [/have_unit]
            [else]
                [store_unit]
                    [filter]
                        id=Malica
                    [/filter]
                    variable=malica_stored
                [/store_unit]
                [unit]
                    side=3
                    type=Red Mage
                    x,y=$malica_stored.x,$malica_stored.y
                    find_vacant=yes
                    animate=no
                    id=Red Mage
                    #textdomain wesnoth-units
                    name= _ "Red Mage"
                    #textdomain wesnoth-Girl_unDead
                [/unit]
                [message]
                    speaker=Red Mage
                    message= _ "Hey there, young lady."
                [/message]
                [message]
                    speaker=Malica
                    message= _ "Hello! But I don't know you, hmm?"
                [/message]
                [message]
                    speaker=Red Mage
                    message= _ "I've traveled here from a long way, but I seem, well, to have lost my way. Is there any old shrine nearby?"
                [/message]
                [message]
                    speaker=Malica
                    message= _ "It's over there."
                [/message]
                [message]
                    speaker=Red Mage
                    message= _ "That's great to hear... could you please guide me there?"
                [/message]
                [message]
                    speaker=Malica
                    message= _ "But my Mom says I'm not allowed to go over there..."
                [/message]

                {APPEND_MUSIC the_dangerous_symphony.ogg}

                [message]
                    speaker=Red Mage
                    message= _ "Even so, you can't resist my wish."
                    sound={SOUND_LIST:HOLY}
                [/message]

                {THUNDER ()}

                [message]
                    speaker=Malica
                    message= _ "What? My body is moving on its own!"
                [/message]

                [kill]
                    id=Red Mage
                    fire_event=no
                    animate=no
                [/kill]
                [redraw][/redraw]

                {MOVE_UNIT id=Malica 35 7}

                [clear_variable]
                    name=malica_stored
                [/clear_variable]

                [message]
                    speaker=Mother
                    message= _ "What now? I felt some kind of strong magic."
                    scroll=no
                [/message]
                [message]
                    speaker=Malica
                    message= _ "I've reached the shrine... What do we do? Oh, he's not here..."
                [/message]
                [message]
                    speaker=Malica
                    message= _ "It's getting to be night, and my Mom will scold me."
                [/message]

                {BEASTS}
            [/else]
        [/if]
    [/event]

#undef BEASTS

    [event]
        name=last breath
        [filter]
            id=Malica
        [/filter]
        [message]
            speaker=Malica
            message= _ "Mom! Help me!"
        [/message]
        [message]
            speaker=Mother
            message= _ "Malica! Something bad has happened to her!"
        [/message]

        [scroll_to]
            x,y=36,7
        [/scroll_to]

        [message]
            speaker=narrator
            #textdomain wesnoth-units
            caption= _ "Red Mage"
            #textdomain wesnoth-Girl_unDead
            message= _ "Phew... Just as I had intended."
            image=portraits/humans/mage-red.webp
        [/message]

        {THUNDER ()}

        [message]
            speaker=narrator
            #textdomain wesnoth-units
            caption= _ "Spectre"
            #textdomain wesnoth-Girl_unDead
            message= _ "This smell belongs to a very human being... Who made me awake?"
            image=portraits/undead/spectre.webp
        [/message]

        [endlevel]
            result=victory
            carryover_report=no
            replay_save=yes
            bonus=no
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]
[/scenario]
