#textdomain wesnoth-Girl_unDead

[scenario]
    id=02_Training
    name= _ "Training"
    next_scenario=03_Invasion_from_Orcs
    map_file=02_Training.map
    victory_when_enemies_defeated=no
    {TURNS 34 30 26}
    {DEFAULT_SCHEDULE_MORNING}
    {INTRO_AND_SCENARIO_MUSIC into_the_shadows.ogg the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC revelation.ogg}

    [side]
        side=1
        id=Malica
        name= _ "Malica"
        type=Lady Prelich
        controller=human
        user_team_name= _ "Malica"
        canrecruit=yes
        fog=yes
        recruit=Vampire Bat,Walking Corpse,Skeleton,Skeleton Archer
        {GOLD 220 200 180}
        {FLAG_VARIANT undead}
    [/side]

    [side]
        side=2
        id=Garak
        team_name=trolls
        user_team_name= _ "Trolls"
        type=Troll Warrior
        canrecruit=yes
        recruit=Troll Whelp
        {GOLD 40 60 80}
        {FLAG_VARIANT6 ragged}
        {GENERIC_UNIT 2 (Troll) 4 12} {GUARDIAN}
        {GENERIC_UNIT 2 (Troll Rocklobber) 3 16} {GUARDIAN}
#ifdef HARD
        {LOYAL_UNIT 2 (Troll) 2 14} {GUARDIAN}
#endif
    [/side]

    [side]
        side=3
        no_leader=yes
        team_name=trolls
        user_team_name= _ "Beasts"
        {FLAG_VARIANT6 ragged}
        [ai]
            aggression=1.0
            caution=-2.0
            grouping=no
            village_value=0
        [/ai]
        {GENERIC_UNIT 3 (Giant Scorpion) 16 5} {GUARDIAN}
#ifdef NORMAL
        {GENERIC_UNIT 3 (Giant Scorpion) 6 2} {GUARDIAN}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 (Giant Scorpion) 6 3} {GUARDIAN}
#endif
        {GENERIC_UNIT 3 (Giant Spider) 2 20} {GUARDIAN}
        {GENERIC_UNIT 3 (Giant Mudcrawler) 15 12} {GUARDIAN}
    [/side]

    [story]
        [part]
            story= _ "Poet searched the village and reported a surprising fact."
            background=story/twilight.webp
        [/part]
        [part]
            story= _ "There were no villagers, and soldiers of Wesnoth were burning down every building."
            background=story/twilight.webp
        [/part]
        [part]
            story= _ "That night, he captured a soldier to find out what was going on. The soldier said every villager had become a walking corpse, so the corpses and village were being burned up."
            background=story/twilight.webp
        [/part]
        [part]
            story= _ "Poet asked about Malica's mother, but the soldier knew nothing about her. The place where her house should have been was a field, and not even a trace remained."
            background=story/twilight.webp
        [/part]
        [part]
            story= _ "The existence of the village was forgotten as it was."
            background=story/twilight.webp
        [/part]
        [part]
            title= _ "<span font='24'>Training</span>
<span font='16'>S2</span>"
            story= _ "When Malica heard this, she became inconsolable. But slowly, she got used to her new life among the undead. Although the undead lacked human feelings, Varas and Poet were kind in comparison to how the villagers had treated her."
            background=story/twilight.webp
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            [objective]
                description= _ "Leave the valley"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Malica"
                condition=lose
            [/objective]
            [objective]
                description= _ "Destruction of Poet"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=no
                carryover_percentage=0
            [/gold_carryover]
        [/objectives]

        [unit]
            side=1
            type=Revenant
            id=Poet
            name= _ "Poet"
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_QUICK}
            [/modifications]
            x,y=15,17
        [/unit]
    [/event]

    [event]
        name=start
        [message]
            speaker=Malica
            message= _ "I feel so lonely being alone with you in a place like this."
        [/message]
        [message]
            speaker=Poet
            message= _ "Hmph, I'm sorry for being an unreliable mate... but because you haven't gotten any stronger, the boss ordered us to train you."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm sorry."
        [/message]
        [message]
            speaker=Poet
            message= _ "No need to apologize."
        [/message]
        [message]
            speaker=Malica
            message= _ "... I wonder if I can do this? I..."
        [/message]
        [message]
            speaker=Poet
            message= _ "Are you crying, again? Where do the tears come from in your dry skull? We have no time for crying as we must rid this valley of the monsters."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm sorry..."
        [/message]
        [message]
            speaker=Poet
            message= _ "Stop apologizing! Let's do what we are here for and then we can go home."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm so... Yes, I should become stronger for Dad."
        [/message]

        {HIGHLIGHT_IMAGE 5 20 items/gohere.png ()}
    [/event]

    {ON_SIGHTING () 1 side=2 (
        [message]
            speaker=Poet
            message= _ "Trolls! No one said that dirty trolls were here... We must get to the fortress to the north or we will be overpowered."
        [/message]
    )}

    [event]
        name=moveto
        [filter]
            side=1
            x=13-18
            y=5-6
        [/filter]
        [message]
            speaker=Poet
            message= _ "Good! There is the old fort. My Princess, summon your minions there."
        [/message]
        [message]
            speaker=Malica
            message= _ "I... I don't know if I can?"
        [/message]
        [message]
            speaker=Poet
            message= _ "They're just the lowly ones, but they'll add to the fight."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Garak
        [/filter]
        [message]
            speaker=Poet
            message= _ "You did well, my Princess."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Malica
            x=5
            y=20
        [/filter]
        [message]
            speaker=Poet
            message= _ "We did it."
        [/message]
        [message]
            speaker=Malica
            message= _ "Thank you, you made it happen."
        [/message]
        [message]
            speaker=Poet
            message= _ "But you haven't grown much stronger."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm so..."
        [/message]
        [message]
            speaker=Poet
            message= _ "Do not say sorry!"
        [/message]

        {THUNDER ()}

        [message]
            speaker=narrator
            #textdomain wesnoth-units
            caption= _ "Spectre"
            #textdomain wesnoth-Girl_unDead
            message= _ "Stupid girl... you had better keep yourself locked in a dark cave rather than beating the troll I threw."
            image=portraits/undead/spectre.webp
        [/message]
        [message]
            speaker=Malica
            message= _ "Who are you? For what purpose did you disturb me?"
        [/message]
        [message]
            speaker=narrator
            #textdomain wesnoth-units
            caption= _ "Spectre"
            #textdomain wesnoth-Girl_unDead
            message= _ "Listen, if you do not want to be destroyed, you better not do unnecessary things."
            sound=wail-long.wav
            image=portraits/undead/spectre.webp
        [/message]

        [message]
            speaker=Malica
            message= _ "He has disappeared..."
        [/message]
        [message]
            speaker=Malica
            message= _ "I am concerned about what he was saying. But let's go back to the cave now."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            carryover_report=no
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Malica
        [/filter]
        [message]
            speaker=unit
            message= _ "Dad, Poet, I'm sorry I was not strong."
        [/message]
        [message]
            speaker=Poet
            message= _ "Annoying! Do not say sorry, my Princess."
        [/message]
        [message]
            speaker=unit
            message= _ "Sorry, sorry..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Poet
        [/filter]
        [message]
            speaker=unit
            message= _ "I can't believe I've been defeated."
        [/message]
        [message]
            speaker=Malica
            message= _ "I was too weak to help... I'm sorry."
        [/message]
        [message]
            speaker=unit
            message= _ "Do not say sorry, my Princess..."
        [/message]
        [message]
            speaker=Malica
            message= _ "Poet! Oh no!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
