#textdomain wesnoth-Girl_unDead
[textdomain]
    name="wesnoth-Girl_unDead"
    path="data/add-ons/Girl_unDead/translations"
[/textdomain]

# wmlscope: set export=no
[campaign]
    id=Girl_unDead
    name= _ "Girl unDead"
    abbrev= _ "GuD"

    start_year="1519 YW"
    end_year="1520 YW"

    define=CAMPAIGN_GIRL_UNDEAD

    icon="units/elves-wood/champion.png~RC(magenta>red)~FL(horizontal)~CROP(6,2,72,72)~BLIT(halo/mage-halo2.png~CROP(-12,-12,52,52),0,0)~BLIT(units/undead-necromancers/lich-magic-2.png~RC(magenta>red),12,10)"
    image="data/add-ons/Girl_unDead/images/portraits/undead/transparent/lady_skeleton.png~SCALE(350,350)"
    background="story/grim-altar.jpg"

#   description= _ "A girl living in the land of the frontier was involved in a wicked conspiracy and became undead.  But that was only the beginning of her trials. (This campaign is currently being expanded, and scenarios will be modified or added in the future.)"
#   description= _ "Malica, the daugher of a magi, has become to undead.  She fight against the kingdom. "
    description= _ "Malica, a young girl who died unexpectedly, has become undead due to incomplete revival, but somehow the kingdom has been trying to capture her. Meanwhile, Cyclos, a young elf, is searching for his shamans, who have been taken away by orcs; the two, originally opposing races, begin to confront the mighty kingdom together, Malica to learn the true meaning of their plot, and Cyclos to save his people.

(Hard level, 13 scenarios including cutscenes.)"

    {CAMPAIGN_DIFFICULTY EASY   "units/trolls/whelp.png~RC(magenta>red)"                ( _ "Whelp")    ( _ "Easy")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/elves-wood/marksman+female.png~RC(magenta>red)"  ( _ "Marksman") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "units/undead-skeletal/deathknight.png~RC(magenta>red)" ( _ "Knight")   ( _ "Hard")}

    first_scenario=01_death
#   first_scenario=00_sandbox

    [about]
        title= _ "Campaign Designer"
        [entry]
            name="tapaboy"
        [/entry]
    [/about]
    [about]
        title= _ "Current Maintainer"
        [entry]
            name="Hiroki Hatanaka (KameRamen/aloneTurtle)"
        [/entry]
    [/about]
    [about]
        title= _ "Mentor to English Translation"
        [entry]
            name="Lanval, rmj, SkyOne, and others"
        [/entry]
    [/about]
    [about]
        title= _ "Translation to Japanese"
        [entry]
            name="tapaboy"
        [/entry]
        [entry]
            name="chee/k.k konami,k"
        [/entry]
    [/about]
    [about]
        title= _ "Translation to Czech"
        [entry]
            name="Mistic"
        [/entry]
    [/about]   
    [about]
        title= _ "Translation to Russian"
        [entry]
            name="marat"
        [/entry]
    [/about]   
[/campaign]

#ifdef CAMPAIGN_GIRL_UNDEAD
[binary_path]
    path=data/add-ons/Girl_unDead
[/binary_path]

# reading macros
{~add-ons/Girl_unDead/utils}

# add units
[+units]
#   {~add-ons/Girl_unDead/units}
    {~add-ons/Girl_unDead/units/humans}
    {~add-ons/Girl_unDead/units/monsters}
    {~add-ons/Girl_unDead/units/mechanical}
    {~add-ons/Girl_unDead/units/s_undead}
    {~add-ons/Girl_unDead/units/trolls}
    {~add-ons/Girl_unDead/units/undead}
[/units]

# add scenarios path
{~add-ons/Girl_unDead/scenarios}
#endif
