#textdomain wesnoth-Girl_unDead

###
### 闇の力
###

#define ABILITY_DARKENS_LEVEL_1
    [illuminates]
        id=darkens
        value=-5
        min_value=-5
        cumulative=no
        name= _ "darkens"
        female_name= _ "female^darkens"
        description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
        special_note= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse."
        affect_self=yes
        halo_image="halo/darkens-aura.png~SCALE(150,150)"
    [/illuminates]
#enddef

#define ABILITY_DARKENS_LEVEL_2
    [illuminates]
        id=darkens
        value=-15
        min_value=-15
        cumulative=no
        name= _ "darkens"
        female_name= _ "female^darkens"
        description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
        special_note= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse."
        affect_self=yes
        halo_image="halo/darkens-aura.png"
    [/illuminates]
#enddef

#define ABILITY_DARKENS_LEVEL_3
    [illuminates]
        id=darkens
        value=-25
        min_value=-25
        cumulative=no
        name= _ "darkens"
        female_name= _ "female^darkens"
        description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
        special_note= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse."
        affect_self=yes
        halo_image="halo/darkens-aura.png"
    [/illuminates]
#enddef
