#textdomain wesnoth-Girl_unDead

###
### メインキャラクターの敗北
###

#define HERODEATH_MALICA
    [event]
        name=last breath
        [filter]
            id=Malica
        [/filter]
        [message]
            speaker=unit
            message= _ "I can no more go... I'm sorry, good bye."
        [/message]
        [message]
            speaker=Poet
            message= _ "My Princess, don't say sorry! Don't say good bye..."
            scroll=no
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define HERODEATH_POET
    [event]
        name=last breath
        [filter]
            id=Poet
        [/filter]
        [message]
            speaker=unit
            message= _ "Damn, what did! I can't follow you no more together..."
        [/message]
        [message]
            speaker=Malica
            message= _ "Poet! Oh no!"
            scroll=no
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define HERODEATH_CYCLOS
    [event]
        name=last breath
        [filter]
            id=Cyclos
        [/filter]
        [message]
            speaker=unit
            message= _ "Loana... forgive me..."
        [/message]
        [message]
            speaker=Stella
            message= _ "Cyclos, no! Don't die!"
            scroll=no
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Cyclos
        [/filter]
        [message]
            speaker=Poet
            message= _ "He died, even though we needed his guidance."
            scroll=no
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define HERODEATH_STELLA
    [event]
        name=last breath
        [filter]
            id=Stella
        [/filter]
        [message]
            speaker=unit
            message= _ "Sorry... Cyclos..."
        [/message]
        [message]
            speaker=Cyclos
            message= _ "Stella! Don't die!"
            scroll=no
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Stella
        [/filter]
        [message]
            speaker=Poet
            message= _ "Without her reinforcements, there is no chance for us."
            scroll=no
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define HERODEATH_RUNT
    [event]
        name=die
        [filter]
            id=Runt
        [/filter]
        [message]
            speaker=Poet
            message= _ "No, don't die my boy! I can't live no more without you!"
        [/message]

        [kill]
            id=Poet
            fire_event=no
            animate=no
        [/kill]

        [message]
            speaker=Malica
            message= _ "Ah, Poet! I don't know you love him so much."
            scroll=no
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

###
### 汎用マクロ
###

#define HERODEATHS
    {HERODEATH_MALICA}
    {HERODEATH_POET}
    {HERODEATH_CYCLOS}
    {HERODEATH_STELLA}
    {HERODEATH_RUNT}
#enddef

###
### 最終シナリオ用
###

#define HERODEATHS_EXCEPT_MALICA
    {HERODEATH_POET}
    {HERODEATH_CYCLOS}
    {HERODEATH_STELLA}
    {HERODEATH_RUNT}
#enddef
