#textdomain wesnoth-Girl_unDead

###
### 村人のいじめ
### 何度でもにしないと、最初のターンで終わってしまう
###

###
### 隣り合ったら発動
###

#define GET_AWAY TYPE SECOND_ID MESSAGE
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id={SECOND_ID}
        [/filter]
        [if]
            [have_location]
                x,y=$x1,$y1
                [and]
                    radius=1
                    [filter]
                        type={TYPE}
                    [/filter]
                [/and]
            [/have_location]
            [then]
                [role]
                    role=speaking
                    type={TYPE}
                [/role]

                [message]
                    role=speaking
                    message={MESSAGE}
                [/message]

                {MODIFY_UNIT (role=speaking) role speaked}

                [message]
                    speaker={SECOND_ID}
                    message= _ "I... I'm sorry."
                [/message]
            [/then]
        [/if]
        [allow_undo][/allow_undo]
    [/event]
#enddef

###
### マリカから逃げる
### 何度でもにしないと、最初のターンで終わってしまう
###

###
### 隣り合ったら発動
###

#define RUN_AWAY TYPE SECOND_ID MESSAGE
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id={SECOND_ID}
        [/filter]
        [if]
            [have_location]
                x,y=$x1,$y1
                [and]
                    radius=1
                    [filter]
                        type={TYPE}
                    [/filter]
                [/and]
            [/have_location]
            [then]
                [role]
                    role=speaking
                    type={TYPE}
                [/role]

                [message]
                    role=speaking
                    message={MESSAGE}
                [/message]

                {MOVE_UNIT (id=Child 1) 22 23}
                {MOVE_UNIT (id=Child 2) 22 24}
                {MOVE_UNIT (id=Child 3) 23 23}
                {MOVE_UNIT (id=Child 4) 23 24}

                {MODIFY_UNIT (role=speaking) role speaked}

                [message]
                    speaker={SECOND_ID}
                    message= _ "I... I'm sorry."
                [/message]
            [/then]
        [/if]
        [allow_undo][/allow_undo]
    [/event]
#enddef

###
### 闇の剣
###

#define OBJ_DARK_SWORD X Y ID
    # まずアイテムを表示
    {PLACE_IMAGE items/dark-sword.png ({X}) ({Y})}
    [event]
        name=moveto
        [filter]
            side=1
            x={X}
            y={Y}
        [/filter]
        # 初めてこの場所に来た証拠
        {VARIABLE sword_taken 0}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x={X}
            y={Y}
        [/filter]
        [if]
            # 変数で判定
            [variable]
                name=sword_taken
                numerical_equals=0
            [/variable]
            # 剣を取るか尋ねる
            [then]
                [message]
                    speaker=narrator
                    message= _ "Do you take this sword?"
                    image=wesnoth-icon.png
                    [option]
                        message= _ "Yes"
                        image=attacks/baneblade.png
                        [command]
                            # 剣の定義
                            [object]
                                id={ID}
                                name= _ "Sword of Darkness"
                                image=attacks/baneblade.png
                                duration=forever
                                description= _ "You got the power of darkness!"
                                cannot_use_message= _ "Only skeletal warriors and trolls can hold the sword."
                                [filter]
                                    type=Skeleton,Deathblade,Revenant,Draug,Death Knight,Troll Whelp,Troll Rocklobber,Troll,Troll Hero,Troll Warrior,Great Troll
                                    x,y={X},{Y}
                                [/filter]
                                # 剣を取る場合
                                [then]
                                    [remove_item]
                                        x,y={X},{Y}
                                    [/remove_item]

                                    [sound]
                                        name=magic-dark-big.ogg
                                    [/sound]

                                    [message]
                                        speaker=narrator
                                        message= _ "The sword belonged to this unit!"
                                        image=wesnoth-icon.png
                                    [/message]

                                    {VARIABLE sword_taken 1}
                                [/then]
                                # 剣の攻撃力
                                [effect]
                                    apply_to=attack
                                    range=melee
                                    set_description= _ "sword of darkness"
                                    set_icon=attacks/baneblade.png
                                    set_type=cold
                                    [set_specials]
                                        {WEAPON_SPECIAL_POISON}
                                    [/set_specials]
                                    set_damage=12
                                    set_attacks=4
                                [/effect]
                                # ユニットに隠密能力と闇の力を付与する
                                [effect]
                                    apply_to=new_ability
                                    [abilities]
                                        {ABILITY_NIGHTSTALK}
                                        {ABILITY_DARKENS_LEVEL_2}
                                    [/abilities]
                                [/effect]
                            [/object]
                        [/command]
                    [/option]
                    # 剣を取らない場合
                    [option]
                        message= _ "No"
                        image=attacks/baneblade.png
                        [command]
                            [allow_undo][/allow_undo]
                        [/command]
                    [/option]
                [/message]
            [/then]
            # やり直しを許可
            [else]
                [allow_undo][/allow_undo]
            [/else]
        [/if]
    [/event]
    [event]
        name=victory
        {CLEAR_VARIABLE sword_taken}
    [/event]
#enddef

###
### ユニゾン攻撃付加
###

#define LEAVE_FROM_ME ID SECOND_ID
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id={ID}
        [/filter]
        [if]
            [have_location]
                x,y=$x1,$y1
                [not]
                    radius=1
                    [filter]
                        id={SECOND_ID}
                    [/filter]
                [/not]
            [/have_location]
            [then]
                {REMOVE_UNISON}
            [/then]
        [/if]
        [allow_undo][/allow_undo]
    [/event]
#enddef

#define ATTACK_UNISON
    # マリカにユニゾン攻撃付与
    [object]
        duration=sceneario
        silent=yes
        [filter]
            id=Malica
        [/filter]
        [effect]
            apply_to=remove_attacks
            name=unison
        [/effect]
        [effect]
            apply_to=new_attack
            name=unison
            description= _ "unison"
            icon=attacks/lightbeam.png
            type=cold
            range=melee
            [specials]
                {WEAPON_SPECIAL_SLOW}
            [/specials]
            damage=20
            number=4
        [/effect]
    [/object]
    # シクロスにユニゾン攻撃付与
    [object]
        duration=sceneario
        silent=yes
        [filter]
            id=Cyclos
        [/filter]
        [effect]
            apply_to=remove_attacks
            name=unison
        [/effect]
        [effect]
            apply_to=new_attack
            name=unison
            description= _ "unison"
            icon=attacks/lightbeam.png
            type=impact
            range=melee
            [specials]
                {WEAPON_SPECIAL_DRAIN}
            [/specials]
            damage=20
            number=4
        [/effect]
    [/object]
#enddef

###
### スペシャル攻撃弱化
###

#define REMOVE_UNISON
    # マリカのユニゾン弱化
    [object]
        duration=sceneario
        silent=yes
        [filter]
            id=Malica
        [/filter]
        [effect]
            apply_to=remove_attacks
            name=unison
        [/effect]
        [effect]
            apply_to=new_attack
            name=unison
            description= _ "unison"
            icon=attacks/lightbeam.png
            type=cold
            range=melee
            damage=2
            number=2
        [/effect]
    [/object]
    # シクロスのユニゾン弱化
    [object]
        duration=sceneario
        silent=yes
        [filter]
            id=Cyclos
        [/filter]
        [effect]
            apply_to=remove_attacks
            name=unison
        [/effect]
        [effect]
            apply_to=new_attack
            name=unison
            description= _ "unison"
            icon=attacks/lightbeam.png
            type=impact
            range=melee
            damage=2
            number=2
        [/effect]
    [/object]
#enddef

###
### 隣り合ったら発動
###

#define STAND_BY_ME ID SECOND_ID
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id={ID}
        [/filter]
        [if]
            [have_location]
                x,y=$x1,$y1
                [and]
                    radius=1
                    [filter]
                        id={SECOND_ID}
                    [/filter]
                [/and]
            [/have_location]
            [then]
                {ATTACK_UNISON}
            [/then]
        [/if]
        [allow_undo][/allow_undo]
    [/event]
#enddef

###
### マクロ統合
###

#define UNISON
    {STAND_BY_ME (Malica) (Cyclos)}
    {STAND_BY_ME (Cyclos) (Malica)}
    {LEAVE_FROM_ME (Malica) (Cyclos)}
    {LEAVE_FROM_ME (Cyclos) (Malica)}
#enddef

###
### スペシャル攻撃強化版
###

#define HYPER_ATTACK_UNISON
    [object]
        duration=sceneario
        silent=yes
        [filter]
            id=Malica
        [/filter]
        [effect]
            apply_to=remove_attacks
            name=unison
        [/effect]
        [effect]
            apply_to=new_attack
            name=unison
            description= _ "unison"
            icon=attacks/lightbeam.png
            type=cold
            range=melee
            [specials]
                {WEAPON_SPECIAL_SLOW}
            [/specials]
            damage=20
            number=4
        [/effect]
    [/object]
    [object]
        duration=sceneario
        silent=yes
        [filter]
            id=Cyclos
        [/filter]
        [effect]
            apply_to=remove_attacks
            name=unison
        [/effect]
        [effect]
            apply_to=new_attack
            name=unison
            description= _ "unison"
            icon=attacks/lightbeam.png
            type=impact
            range=melee
            [specials]
                {WEAPON_SPECIAL_DRAIN}
            [/specials]
            damage=40
            number=8
        [/effect]
    [/object]
#enddef

###
### 隣り合ったら発動
###

#define HYPER_STAND_BY_ME ID SECOND_ID
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id={ID}
        [/filter]
        [if]
            [have_location]
                x,y=$x1,$y1
                [and]
                    radius=1
                    [filter]
                        id={SECOND_ID}
                    [/filter]
                [/and]
            [/have_location]
            [then]
                {HYPER_ATTACK_UNISON}
            [/then]
        [/if]
        [allow_undo][/allow_undo]
    [/event]
#enddef

###
### マクロ統合
###

#define HYPER_UNISON
    {HYPER_STAND_BY_ME (Malica) (Cyclos)}
    {HYPER_STAND_BY_ME (Cyclos) (Malica)}
    {LEAVE_FROM_ME (Malica) (Cyclos)}
    {LEAVE_FROM_ME (Cyclos) (Malica)}
#enddef

###
### 呪いの弓
###

#define ATTACKED_FROM_STELLA
    # 暗黒化
    [event]
        name=attacker hits
        first_time_only=no
        [filter]
            id=Stella
        [/filter]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [harm_unit]
            [filter]
                id=Stella
            [/filter]
            amount=2
            kill=no
        [/harm_unit]
        [object]
            silent=yes
            [filter]
                id=$second_unit.id
            [/filter]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DARKENS_LEVEL_3}
                [/abilities]
            [/effect]
        [/object]
    [/event]
    [event]
        name=defender hits
        first_time_only=no
        [filter]
            id=Stella
        [/filter]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [harm_unit]
            [filter]
                id=Stella
            [/filter]
            amount=2
            kill=no
        [/harm_unit]
        [object]
            silent=yes
            [filter]
                id=$unit.id
            [/filter]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DARKENS_LEVEL_3}
                [/abilities]
            [/effect]
        [/object]
    [/event]
    # 暗黒ゾンビ
    [event]
        name=die
        first_time_only=no
        [filter_second]
            id=Stella
        [/filter_second]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [sound]
            name={SOUND_LIST:ZOMBIE_WEAK_HIT}
        [/sound]
        {UNIT 1 (Walking Corpse) $x1 $y1 (
            animate=yes
            overwrite=yes
            [modifications]
                [object]
                    [effect]
                        apply_to=new_ability
                        [abilities]
                            {ABILITY_DARKENS_LEVEL_1}
                        [/abilities]
                    [/effect]
                [/object]
            [/modifications]
        )}
    [/event]
#enddef

###
### シナリオ別マクロ
###

#define STORE_UNITS X Y UPPERCOUNT
    [event]
        name=turn 1
        [set_variable]
            name=count_unit
            value=0
        [/set_variable]
        [set_variable]
            name=count_empty
            value=23
        [/set_variable]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y={X},{Y}
        [/filter]
        [if]
            [variable]
                name=NW
                equals=on
            [/variable]
            [or]
                [variable]
                    name=NE
                    equals=on
                [/variable]
            [/or]
            [or]
                [variable]
                    name=SW
                    equals=on
                [/variable]
            [/or]
            [or]
                [variable]
                    name=SE
                    equals=on
                [/variable]
            [/or]
            [then]
                [if]
                    [have_unit]
                        id=$unit.id
                        race=undead
                    [/have_unit]
                    [then]
                        [if]
                            [variable]
                                name=mage_message
                                equals=off
                            [/variable]
                            [else]
                                [message]
                                    speaker=Hendrich
                                    message= _ "Oh, I remember! We must put out the fire of all the lighthouses."
                                    scroll=no
                                [/message]
                                [message]
                                    speaker=Hendrich
                                    message= _ "The undead that entered the castle will be burnt out by the sacred fire."
                                    scroll=no
                                [/message]
                                {VARIABLE mage_message off}
                            [/else]
                        [/if]
                    [/then]
                [/if]
            [/then]
        [/if]

        [store_unit]
            variable=player_unit
            mode=append
            kill=yes
            [filter]
                id=$unit.id
            [/filter]
        [/store_unit]
        [set_variable]
            name=count_unit
            add=1
        [/set_variable]

        # 侵入したユニット数を表示
        [set_variable]
            name=count_empty
            add=-1
        [/set_variable]
        [message]
            speaker=narrator
            message= _ "$count_empty units can enter after."
            image=wesnoth-icon.png
        [/message]

        # 最後にマリカが入る
        [if]
            [have_unit]
                id=Malica
            [/have_unit]
            [else]
                [if]
                    [have_unit]
                        id=Poet,Cyclos,Stella,Runt
                    [/have_unit]
                    [then]
                        [message]
                            speaker=narrator
                            message= _ "Failed some hero enter the castle!"
                            image=wesnoth-icon.png
                        [/message]
                        [endlevel]
                            result=defeat
                        [/endlevel]
                    [/then]
                    [else]
                        [message]
                            speaker=narrator
                            message= _ "No more units can enter the castle!"
                            image=wesnoth-icon.png
                        [/message]
                        [endlevel]
                            result=victory
                            bonus=no
                            {NEW_GOLD_CARRYOVER 0}
                        [/endlevel]
                    [/else]
                [/if]
            [/else]
        [/if]
        [if]
            [variable]
                name=count_unit
                numerical_equals=22
            [/variable]
            [then]
                [message]
                    speaker=Malica
                    message= _ "Lastly, I have to enter the gate..."
                    scroll=no
                [/message]
            [/then]
        [/if]
        [if]
            [variable]
                name=count_unit
                numerical_equals={UPPERCOUNT}
            [/variable]
            [then]
                [if]
                    [have_unit]
                        id=Malica
                    [/have_unit]
                    [then]
                        [message]
                            speaker=Malica
                            message= _ "Sorry... I can't enter the gate!"
                        [/message]
                        [endlevel]
                            result=defeat
                        [/endlevel]
                    [/then]
                [/if]
            [/then]
        [/if]
    [/event]
    [event]
        name=victory
        {CLEAR_VARIABLE (count_unit,count_empty,mage_message)}
    [/event]
#enddef

###
### 最終シナリオ向けマクロ
###

#define UNSTORE_UNITS X Y
    {FOREACH player_unit i}
        [unstore_unit]
            variable=player_unit[$i]
            x={X}
            y={Y}
            find_vacant=yes
        [/unstore_unit]
    {NEXT i}
    {CLEAR_VARIABLE (player_unit)}
#enddef
