# wmllint: no translatables

###
### ユニットを条件付きで不死身にする
###

#define IMMORTAL_LIMITED ID SECOND_ID
    # 攻撃前にヒットポイント保存
    [event]
        name=attack
        first_time_only=no
        [filter_second]
            id={ID}
        [/filter_second]
        [store_unit]
            variable=unit_store
            kill=no
            [filter]
                id={ID}
            [/filter]
        [/store_unit]
    [/event]

    # 攻撃された場合回復しない
    [event]
        name=attack end
        first_time_only=no
        [filter_second]
            id={ID}
        [/filter_second]
        [if]
            [variable]
                name=unit.id
                not_equals={SECOND_ID}
            [/variable]
            [then]
                {MODIFY_UNIT (id={ID}) hitpoints $unit_store.hitpoints}
            [/then]
        [/if]
        {CLEAR_VARIABLE unit_store}
    [/event]

    # 自分から攻撃
    # 攻撃前にヒットポイント保存
    [event]
        name=attack
        first_time_only=no
        [filter]
            id={ID}
        [/filter]
        [store_unit]
            variable=unit_store
            kill=no
            [filter]
                id={ID}
            [/filter]
        [/store_unit]
    [/event]

    # 反撃された場合回復しない
    [event]
        name=attack end
        first_time_only=no
        [filter]
            id={ID}
        [/filter]
        [if]
            [variable]
                name=second_unit.id
                not_equals={SECOND_ID}
            [/variable]
            [then]
                {MODIFY_UNIT (id={ID}) hitpoints $unit_store.hitpoints}
            [/then]
        [/if]
        {CLEAR_VARIABLE unit_store}
    [/event]
#enddef
