#textdomain wesnoth-Girl_unDead

[unit_type]
    id=Gate Base
    #textdomain wesnoth-ei
    name= _ "Gate"
    #textdomain wesnoth-Girl_unDead
    hide_help=yes
    race=mechanical
    hitpoints=6
    movement_type=null
    [resistance]
        blade=60
        pierce=40
        impact=120
        arcane=40
        cold=100
        fire=100
    [/resistance]
    movement=0
    experience=25
    level=0
    alignment=neutral
    advances_to=null
    cost=6
    usage=fighter
    #textdomain wesnoth-ei
    description= _ "An old gate, poorly maintained but of sturdy construction."
    #textdomain wesnoth-Girl_unDead
    die_sound=mace.wav
[/unit_type]

[unit_type]
    [base_unit]
        id=Gate Base
    [/base_unit]
    id=Gate SE
    image="units/mechanical/gate-se.png"
[/unit_type]
[unit_type]
    [base_unit]
        id=Gate Base
    [/base_unit]
    id=Gate SW
    image="units/mechanical/gate-sw.png"
[/unit_type]
