#textdomain wesnoth-Girl_unDead

[unit_type]
    [base_unit]
        id=Mage of Light
    [/base_unit]
    id=Royal Mage
    name= _ "Royal Mage"
    profile="portraits/humans/mage-white.webp"
    hitpoints=100
    movement=6
    level=5
    cost=110
    [attack]
        name=morning star
        #textdomain wesnoth-units
        description= _ "morning star"
        damage=10
        number=3
    [/attack]
    [attack]
        name=lightbeam
        description= _ "lightbeam"
        #textdomain wesnoth-Girl_unDead
        damage=14
        number=4
    [/attack]
[/unit_type]
