#textdomain wesnoth-Girl_unDead

[unit_type]
    id=Peasant Child
    name= _ "Peasant Child"
    hide_help=yes
    race=human
    gender=male,female
    image="units/human-peasants/child.png"
    hitpoints=16
    movement_type=smallfoot
    movement=5
    experience=25
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=6
    usage=fighter
    description= _ "Young and fragile, children are easily finished."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=small knife
        description= _ "small knife"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=4
        number=2
    [/attack]
    [female]
        name= _ "female^Peasant Child"
        gender=female
        image="units/human-peasants/child+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        [attack]
            name=small knife
            description=_"small knife"
            icon=attacks/dagger-human.png
            type=blade
            range=melee
            damage=4
            number=2
        [/attack]
    [/female]
[/unit_type]
