#textdomain wesnoth-Girl_unDead

[unit_type]
    id=Lady Ancient Lich
    name= _ "Lady Ancient Lich"
    race=undead
    gender=female
    image="units/undead-necromancers/lady-ancient-lich.png"
    profile="portraits/lady-lich.png"
    hitpoints=80
    movement_type=undeadfoot
    movement=6
    experience=150
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=110
    usage=mixed fighter
    #textdomain wesnoth-units
    description= _ "A lich that accrues enough power over its newfound immortal lifespan becomes one who can stain souls with despair and sow ruin across the world. Invariably in command of a nigh-limitless horde of risen warriors and undead monsters, a lich of this order has a mastery of dark sorcery that can bring dread to the most storied magi of human and elven kind. Such a figure usually marks a dark and bloody chapter in history, and in those times of need, it is only through the tireless efforts of the most valiant heroes that the rise of an Ancient Lich has not led to the shadows ruling the world for the rest of time."
    #textdomain wesnoth-Girl_unDead
    die_sound=lich-die.ogg
    {DEFENSE_ANIM "units/undead-necromancers/lady-ancient-lich-defend.png" "units/undead-necromancers/lady-ancient-lich.png" {SOUND_LIST:LICH_HIT}}
    [movement_costs]
        shallow_water=3
    [/movement_costs]
    [abilities]
        {ABILITY_LEADERSHIP}
        {ABILITY_SUBMERGE}
        {ABILITY_CURES}
        {ABILITY_DARKENS_LEVEL_3}
    [/abilities]
    [attack]
        name=touch
        #textdomain wesnoth-units
        description= _ "touch"
        icon=attacks/touch-undead.png
        type=arcane
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=chill tempest
        description=_"chill tempest"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=5
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description= _ "shadow wave"
        #textdomain wesnoth-Girl_unDead
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        range=ranged
        damage=10
        number=5
        icon=attacks/dark-missile.png
    [/attack]
    [recruiting_anim]
        [filter_second]
            race=undead
        [/filter_second]
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/lady-ancient-lich-magic-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/undead-necromancers/lady-ancient-lich-magic-2.png"
            sound=magic-dark-big.ogg
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/lady-ancient-lich-magic-3.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/lady-ancient-lich-magic-1.png"
        [/frame]
        [frame]
            duration=1
            image="units/undead-necromancers/lady-ancient-lich.png"
        [/frame]
    [/recruiting_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/lady-ancient-lich-magic-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/lady-ancient-lich-magic-2.png"
                sound=magic-dark-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/lady-ancient-lich-magic-2.png"
                sound=magic-dark-big.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/lady-ancient-lich-magic-3.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/lady-ancient-lich-magic-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/undead-necromancers/lady-ancient-lich.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/undead-necromancers/lady-ancient-lich-melee-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/undead-necromancers/lady-ancient-lich-melee-2.png"
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/undead-necromancers/lady-ancient-lich-melee-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/undead-necromancers/lady-ancient-lich-magic-1.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/undead-necromancers/lady-ancient-lich.png"
        [/frame]
    [/attack_anim]
[/unit_type]
